<script type="text/javascript">

function changes () {


  

    var okleiny01 = new Array('/Content/img/probkabianco.jpg', "/Content/img/probkadab.jpg", "/Content/img/probkanoce1.jpg", "/Content/img/probkamogano.jpg", "/Content/img/probkairish.jpg", "/Content/img/probkaavoriopellicolato.jpg", "/Content/img/probkaavorio.jpg", "/Content/img/probkaweiss1.jpg", "/Content/img/verde1.jpg", "/Content/img/probkarosso.jpg");

document.getElementById('probka').src = okleiny01[document.form1.kolorprofili.value];


}







function wprowadzaniesx () {


changes ();



var szerokosc = (document.form1.szer.value)/6.5;
var wysokosc = ((document.form1.wys.value)/6.5);
var pole = szerokosc * wysokosc;

var canvas = document.getElementById("mojCanvas");
var mojObiekt = canvas.getContext('2d');

 var gradient = mojObiekt.createLinearGradient(0,0,150,150);
        gradient.addColorStop(0,"lightgray");
        gradient.addColorStop(0.5,"#CCCCCC");
        gradient.addColorStop(1,"gray");



var startx = (canvas.width - szerokosc)/2;
var starty = (canvas.height - wysokosc)/2;







var polowax = (canvas.width)/2;

var poloway = (canvas.height)/2;



var srodek = polowax + poloway;

var gornylx = polowax - (szerokosc/2);
var gornyly = poloway - (wysokosc/2);

var prawysrx = polowax + (szerokosc/2);

var prawysry = poloway;


var dolnylx = gornylx;
var dolnyly = poloway + (wysokosc/2);



var srodekgx = polowax;
var srodekgy = gornyly;

var dolnypx = polowax + (szerokosc/2);
var dolnypy = dolnyly;


canvas.width = canvas.width;






mojObiekt.fillStyle = gradient;
mojObiekt.strokeStyle = "gray";

mojObiekt.fillRect((startx),(starty),(szerokosc),(wysokosc));

mojObiekt.clearRect((startx+8),(starty+8),(szerokosc-16),(wysokosc-16));

    //rysujemy obramowanie drugiego kwadratu
mojObiekt.strokeRect((startx+20),(starty+20),(szerokosc-40),(wysokosc-40));

//rysujemy obramowanie drugiego kwadratu
mojObiekt.strokeRect((startx+23),(starty+23),(szerokosc-46),(wysokosc-46));

mojObiekt.beginPath();
mojObiekt.moveTo((gornylx+23),(gornyly+23)); //rysowanie zaczynamy od punktów 35,10 - tam więc przesuwamy nasze piórko
mojObiekt.lineTo((prawysrx-23),(prawysry));
mojObiekt.lineTo((dolnylx+23),(dolnyly - 23));
mojObiekt.lineTo(srodekgx,srodekgy + 23);
mojObiekt.lineTo(((dolnypx-23)),(dolnypy)-23);
mojObiekt.stroke();



}





</script>




<script type="text/javascript">

var skala;




function wprowadzaniedx() {


changes ();



var szerokosc;
var wysokosc;

var szerokosc0;
var wysokosc0;


var lmin = productLimits.MinWidth;
var lmax = productLimits.MaxWidth;

var hmin =  productLimits.MinHeight;
var hmax =  productLimits.MaxHeight;

var skala;






var szerokosc0 = (document.form1.szer.value);
var wysokosc0 = (document.form1.wys.value);
var pole0 = szerokosc0 * wysokosc0;



skala = (Math.round(szerokosc0 / 250)) * 1.1;





var r1 = 25 / skala;
var r2 = 50 / skala;



var an01 = 60;
var an001 = an01/skala;

var fv01 = 20;
var fv001 = fv01/skala;

var t01 = 40;
var t001 = t01/skala;

var t02 = 55;
var t002 = 55/skala;

var mo01 = 10;
var mo001 = mo01/skala;

var mo02 = 20;
var mo002 = mo02/skala;






var szerokosc1 = (szerokosc0)/skala;
var wysokosc1 = ((wysokosc0)/skala);
var pole1 = szerokosc1 * wysokosc1;


if ((szerokosc0 >= lmin && szerokosc0 <= lmax ) && (wysokosc0 >= hmin && wysokosc0 <= hmax ))


{


var szerokosc = szerokosc1;
var wysokosc = wysokosc1;
var pole = szerokosc * wysokosc;




var wypelnienie = new Array("rgb(255,255,255)" , "rgb(178,95,33)", "rgb(110,73,18)" , "rgb(113,47,37)" , "rgb(199,141,77)" , "rgb(253,237,214)" , "rgb(233,219,190)" , "rgb(255,255,255)" , "rgb(0,62,35)" , "rgb(125,19,23)");
var kolorokna = wypelnienie[document.form1.kolorprofili.value];



var canvas = document.getElementById("mojCanvas");
var mojObiekt = canvas.getContext('2d');

 var gradient = mojObiekt.createLinearGradient(0,0,150,150);
        gradient.addColorStop(0, kolorokna);

        gradient.addColorStop(0.5, kolorokna);
        gradient.addColorStop(1, kolorokna);


var startx = (canvas.width - szerokosc)/2;
var starty = (canvas.height - wysokosc)/2;


var polowax = (canvas.width)/2;

var poloway = (canvas.height)/2;




var tdlx = startx + an001 + t001 + fv001;
var tdly = starty + wysokosc - an001 - t001 - fv001;

var tpdx = startx + (szerokosc/2) - mo001 - an001 - fv001;
var tpdy = starty + an001 + t001 + fv001;



var tgx = ((tpdx - tdlx)/2) + startx + t001 + an001 + fv001;
var tgy = poloway - (wysokosc/2) + an001 + fv001 + t001;



var stsrodek = ((szerokosc - t002 - fv001) - ((szerokosc/2) + mo002))/2 + startx + szerokosc/2 + mo002;

var st1x = stsrodek - 20;
var st1y = poloway;

var st2x = stsrodek + 20;
var st2y = poloway;



var st1x1 = stsrodek;
var st1y1 = poloway - 10;

var st2x1 = stsrodek;
var st2y1 = poloway + 10;





var srodek = polowax + poloway;

var gornylx = polowax - (szerokosc/2);
var gornyly = poloway - (wysokosc/2);


var gpx = polowax + (szerokosc/2) - 21;
var gpy = poloway - (wysokosc/2) + 21;


var lsrx = polowax - (szerokosc/2) + 21;
var lsry = poloway;


var prawysrx = polowax + (szerokosc/2);

var prawysry = poloway;


var dpx = gpx;
var dpy = poloway + (wysokosc/2) - 21;


var dolnylx = gornylx;
var dolnyly = poloway + (wysokosc/2);



var gsrx = polowax;
var gsry = gornyly + 22;

var dolnypx = polowax + (szerokosc/2);
var dolnypy = dolnyly;

var dlx = lsrx;
var dly = dpy;


var glx = startx + 21;
var gly = starty + 21;


var pskgsrx = polowax + ((szerokosc/2 - 8)/2);


canvas.width = canvas.width;








mojObiekt.fillStyle = gradient;
mojObiekt.strokeStyle = "gray";






if ((document.form1.system.value == 1) || (document.form1.system.value == 4))

{

mojObiekt.fillRect((startx - r1),(starty - r1),(szerokosc + (2 * r1)),(wysokosc + (2 * r1)));

mojObiekt.strokeRect((startx - r1),(starty - r1),(szerokosc + (2 * r1)),(wysokosc+ (2 * r1)));
}

if ((document.form1.system.value == 2) || (document.form1.system.value == 5))

{

mojObiekt.fillRect((startx - r2),(starty - r2),(szerokosc + (2 * r2)),(wysokosc + (2 * r2)));

mojObiekt.strokeRect((startx - r2),(starty - r2),(szerokosc + (2 * r2)),(wysokosc+ (2 * r2)));
}



if ((document.form1.system.value == 0) || (document.form1.system.value == 3) || (document.form1.system.value == 6) || (document.form1.system.value == 7))





{

mojObiekt.fillRect((startx),(starty),(szerokosc),(wysokosc));

mojObiekt.strokeRect((startx),(starty),(szerokosc),(wysokosc));
}



mojObiekt.fillRect((startx + t001),(starty + t001),(szerokosc/2 - mo001 - t001),(wysokosc - 2*t001));

mojObiekt.strokeRect((startx + t001),(starty + t001),(szerokosc/2 - mo001 - t001),(wysokosc - 2*t001));

// mojObiekt.fillRect((startx + (szerokosc/2 + 1)),(starty+7),(szerokosc/2 - 8),(wysokosc - 14));

// mojObiekt.strokeRect((startx + (szerokosc/2 + 1)),(starty+7),(szerokosc/2 - 8),(wysokosc - 14));



if (document.form1.konfiguracja.value == 0)

{mojObiekt.fillStyle = "lightblue";}

else


{mojObiekt.fillStyle = "cornflowerblue";}



mojObiekt.strokeRect((startx + t001 + an001),(starty+t001 + an001),(szerokosc/2 - t001 - 2*an001 - mo001),(wysokosc - 2*t001 - 2*an001));

//rysujemy obramowanie drugiego kwadratu - pierwsze skrzydlo
// mojObiekt.clearRect((startx+21),(starty+21),(szerokosc/2-37),(wysokosc-42));

// wypełnienie - pierwsze skrzydlo
mojObiekt.fillRect((startx + t001 + an001 + fv001),(starty + t001 + an001 + fv001),(szerokosc/2 - t001 - mo001 - 2*an001 - 2*fv001),(wysokosc - 2*t001 - 2*an001 - 2*fv001));


//rysujemy listwę przyszybową - pierwsze skrzydlo
mojObiekt.strokeRect((startx + t001 + an001 + fv001),(starty + t001 + an001 + fv001),(szerokosc/2 - t001 - mo001 - 2*an001 - 2*fv001),(wysokosc - 2*t001 - 2*an001 - 2*fv001));




// rama (fest)
mojObiekt.strokeRect((polowax + mo002),(starty+t002),(szerokosc/2 - mo002 - t002),(wysokosc - 2*t002));




//rysujemy wypełnienie - drugie skrzydlo
mojObiekt.fillRect((polowax + mo002 + fv001),(starty + t002 + fv001),(szerokosc/2 - mo002 - t002 - 2*fv001),(wysokosc - 2*t002 - 2*fv001));



// listwa przyszybowa - drugie skrzydlo
mojObiekt.strokeRect((polowax + mo002 + fv001),(starty + t002 + fv001),(szerokosc/2 - mo002 - t002 - 2*fv001),(wysokosc - 2*t002 - 2*fv001));





mojObiekt.beginPath();
mojObiekt.moveTo((tdlx),(tdly));
mojObiekt.lineTo((tgx),(tgy));
mojObiekt.lineTo((tpdx),(tdly));
mojObiekt.stroke();

 mojObiekt.beginPath();
mojObiekt.moveTo((st1x),(st1y));
mojObiekt.lineTo((st2x),(st2y));

//mojObiekt.lineTo(dlx,dly);
mojObiekt.stroke();



mojObiekt.beginPath();
mojObiekt.moveTo((st1x1),(st1y1));
mojObiekt.lineTo((st2x1),(st2y1));

//mojObiekt.lineTo(dlx,dly);
mojObiekt.stroke();





} else {
    Swal.fire({
        type: 'error',
        title: 'l\'input deve rientrare in questi intervalli.',
        text: 'Altezza: ' +
            productLimits.MinHeight +
            '-' +
            productLimits.MaxHeight +
            '; Larghezza: ' +
            productLimits.MinWidth +
            '-' +
            productLimits.MaxWidth,
        footer: '<a href="mailto:export@@prolinepvc.com">Puoi contattare qui.</a>'
    }).then((result) => {
        if (result.value) {
            window.location.reload();
        }
    });

}
}



</script>



<script language="Javascript">

function imptotale()	{


var larg1;
var larg2;
var alt1;
var alt2;
var indexszerokosci;
var indexwysokosci;
var cenaokna;
var doplatazakolor = new Array (1.03 , 1.38 , 1.38 , 1.38 , 1.38 , 1.38 , 1.38 , 1.38 , 1.38 , 1.38);
var powierzchnia;
var doplatazawklad = new Array (0 , 300 , 356);
var doplatazakolorszkla = new Array (0 , 377 , 250 , 193 , 533 , 463);
var systemprofili = new Array (1 , 1 , 1 , 1 , 1 , 1 , 1.12 , 1.12);
var cenaprogu = 50;
var sogliabassa;
var supervetro;

wprowadzaniedx();





var cennik1sk=new Array(8);


cennik1sk[0] = new Array(0 , 1500 , 1600 , 1700 , 1800 , 1900 , 2000 , 2100 , 2200 , 2300 , 2400 , 2500 , 2600 , 2700);


cennik1sk[1] = new Array(1800 , 3922 , 3922 , 3922 , 3960 , 3996 , 4098	, 4129 , 4193 , 4283 , 4319 , 4352 , 4420 , 4544);


cennik1sk[2] = new Array(1900 , 3922 , 3922 , 3922 , 3960 , 3996 , 4098	, 4129 , 4193 , 4283 , 4319 , 4352 , 4420 , 4544);


cennik1sk[3] = new Array(2000 , 3969 , 3969 , 3969 , 4009 , 4045 , 4150 , 4185 , 4248 ,	4341 , 4377 , 4413 , 4484 , 4607);


cennik1sk[4] = new Array(2100 , 4010 , 4010 , 4010 , 4052 , 4088 , 4192 , 4231 , 4294 , 4389 , 4425 , 4461 , 4535 , 4658);


cennik1sk[5] = new Array(2200 , 4068 , 4068 , 4068 , 4110 , 4149 , 4256 , 4295 , 4358 ,	4453 , 4517 , 4530 , 4604 , 4730);


cennik1sk[6] = new Array(2300 , 4107 , 4107 , 4107 , 4150 , 4188 , 4299	, 4338 , 4457 , 4502 , 4541 , 4582 , 4655 , 4784);


cennik1sk[7] = new Array(2400 , 4173 , 4173 , 4173 , 4260 , 4316 , 4371	, 4413 , 4481 , 4579 , 4621 , 4662 , 4735 , 4865);



var cennik2sk=new Array(15);


cennik2sk[0] = new Array(0 , 1000 , 1100 , 1200 , 1300 , 1400 , 1500 , 1600 , 1700 , 1800 , 1900 , 2000 , 2100 , 2200 , 2300 , 2400 , 2500 , 2600);

cennik2sk[1] = new Array(500 , 290.91 , 297.60 , 302.06 , 306.52 , 310.98 , 316.04 , 320.50 , 324.98 , 329.44 , 340.48 , 344.91 , 349.37 , 353.82 , 358.30 , 1000 , 1000 , 1000);


cennik2sk[2] = new Array(600 , 297.60 , 304.45 , 309.01 , 313.57 , 318.13 , 323.31 , 327.87 , 332.45 , 337.01 , 348.31 , 352.84 , 357.40 , 361.96 , 366.55 , 1000 , 1000 , 1000);


cennik2sk[3] = new Array(700 , 304.93 , 311.95 , 316.49 , 321.07 , 325.63 , 330.81 , 335.39 , 339.93 , 344.51 , 355.76 , 360.34 , 364.87 , 369.49 , 374.05 , 1000 , 1000 , 1000);


cennik2sk[4] = new Array(800 , 311.96 ,	319.13 , 323.69	, 328.28 , 332.86 , 338.02 , 342.56 , 347.14 , 351.70 , 362.96 , 367.53 , 373.54 , 381.55 , 389.59 , 397.92 , 1000 , 1000);


cennik2sk[5] = new Array(900 , 319.19 , 326.53 , 331.12 , 335.68 , 340.24 , 345.37 , 349.98 , 354.51 , 359.65 , 375.10 , 383.86 , 392.44 , 401.17 , 409.91 , 418.99 , 427.75 , 1000);


cennik2sk[6] = new Array(1000 , 329.40 , 336.98 , 341.54 , 346.10 , 350.65 , 355.83 , 360.82 , 370.27 , 379.54 , 395.70 , 405.10 , 414.44 , 423.86 , 433.30 , 443.10 , 452.50 ,	461.97);


cennik2sk[7] = new Array(1100 , 339.51 , 347.32 , 351.90 , 356.43 , 361.05 , 369.13 , 379.25 , 389.36 , 399.37 , 416.21 , 426.36 , 436.31 , 446.47 , 456.62 , 467.22 , 477.19 , 487.31);


cennik2sk[8] = new Array(1200 , 347.49 , 355.48 , 360.05 , 364.66 , 373.37 , 384.64 , 395.44 , 406.32 , 417.01 , 434.54 , 445.36 , 456.04 , 466.92 , 477.70 , 489.01 , 499.70 , 510.55);


cennik2sk[9] = new Array(1300 , 354.73 , 362.89 , 367.47 , 375.91 , 387.42 , 399.40 , 410.97 , 422.46 , 433.87 , 452.08 , 463.63 , 475.15 , 486.52 , 498.06 , 510.02 , 521.45 , 532.94);


cennik2sk[10] = new Array(1400 , 363.24 , 371.60 , 378.36 , 390.61 , 402.82 , 415.51 , 427.73 , 439.94 , 452.02 , 470.92 , 483.19 , 495.40 , 507.48 , 519.70 , 532.41 , 544.48 , 556.69);


cennik2sk[11] = new Array(1500 , 370.43	, 378.95 , 391.04 , 403.93 , 416.89 , 430.24 , 443.18 , 456.04 , 468.98 , 488.50 , 501.39 , 514.33 , 527.08 , 540.05 , 553.40 ,	566.16 , 579.08);

cennik2sk[12] = new Array(1600 , 383.31 , 392.12 , 405.59 , 419.22 , 432.83 , 446.88 , 460.48 , 474.11 , 487.75 , 507.92 , 521.53 , 535.14 , 548.63 , 562.21 , 576.31 ,	589.76 , 603.42);


cennik2sk[13] = new Array(1700 , 395.03 , 404.11 , 418.33 , 432.58 , 446.91 , 461.80 , 475.96 , 490.33 , 504.60 , 525.50 , 539.78 , 554.11 , 568.28 , 582.58 , 597.35 ,	611.68 , 625.85);


cennik2sk[14] = new Array(1800 , 413.38 , 422.89 , 437.75 , 452.77 , 467.75 , 483.37 , 498.25 , 513.25 , 528.25 , 549.80 , 564.86 , 579.83 , 594.71 , 609.68 ,	625.19 , 640.20 , 1000);




larg1 = document.form1.szer.value;

larg2 = Math.ceil(larg1/100)*100;


alt1 = document.form1.wys.value;

alt2 = Math.ceil(alt1/100)*100;


supervetro = (((larg1/2 - 78) * (alt1 - 106)/1000000) + (((larg1/2 - 182) * (alt1 - 210))/1000000));



if ((larg1 >= 1500 && larg1 <= 2700 ) && (alt1 >= 1800 && alt1 <= 2400 ))


{



for (var n = 1 ; n < 14 ; n++)

{


if (cennik1sk[0][n]==larg2) {


indexszerokosci = n;
break;
}

}



for (var m = 0 ; m < 8 ; m++)

{


if (cennik1sk[m][0]==alt2) {



indexwysokosci = m;
break;
}

}



powierzchnia = (larg1/1000)*(alt1/1000);




if ((document.form1.system.value == 1) || (document.form1.system.value == 2) || (document.form1.system.value == 4) || (document.form1.system.value == 5))

{
cenaokna = ((cennik2sk[indexwysokosci][indexszerokosci]) * doplatazakolor[document.form1.kolorprofili.value] * systemprofili[document.form1.system.value]) + (powierzchnia * doplatazawklad[document.form1.konfiguracja.value]) + (powierzchnia * doplatazakolorszkla[document.form1.kolorszkla.value]);


document.form1.dodatki.value = Math.round(cenaokna * (document.form1.ilosc.value) );
document.getElementById('cenaokna').innerHTML = Math.round(cenaokna * (document.form1.ilosc.value));
}


else

{

cenaokna = (((cennik1sk[indexwysokosci][indexszerokosci]) * doplatazakolor[document.form1.kolorprofili.value] * systemprofili[document.form1.system.value]) + (supervetro * doplatazawklad[document.form1.konfiguracja.value]) + (supervetro * doplatazakolorszkla[document.form1.kolorszkla.value]))/4.1;


document.form1.dodatki.value = Math.round(cenaokna) * (document.form1.ilosc.value);
document.getElementById('cenaokna').innerHTML = Math.round(cenaokna) * (document.form1.ilosc.value);


}
}

}

</script>

